.DS_Store
.vscode/
.ipynb_checkpoints/
/audio_transcription/
!*/audio_transcription/
__pycache__/
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/
.venv/
.env
*.pyc
*.pyo
*.pyd
*.log
build/
dist/
*.egg-info/
pip-wheel-metadata/
